nestcare-n8n-workflow.json
{
  "name": "NestCare — Tenant Issue Reporter",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nestcare-report",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e699f751-c230-473c-8c52-88aaf5ba22cb",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -624,
        304
      ],
      "webhookId": "nestcare-report"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"received\": true }",
        "options": {}
      },
      "id": "9da33fb5-ebb1-4ce9-a5a4-cc2e34b96bac",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -416,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Webhook').item.json.body.contactType }}",
              "value2": "whatsapp"
            }
          ]
        }
      },
      "id": "cd9f0dce-c8ae-4427-8a44-d5ec001e3d55",
      "name": "WhatsApp or Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        32,
        304
      ]
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "={{ $('Webhook').item.json.body.contact }}",
        "toWhatsapp": true,
        "message": "=Hi {{ $('Webhook').item.json.body.firstName }}! 🏠\n\nWe've received your maintenance report:\n\n*Issue:* {{ $('Webhook').item.json.body.issue }}\n*Reference:* {{ $('Webhook').item.json.body.refNumber }}\n\nOur property manager has been notified and will get back to you within 24 hours.\n\nThank you for letting us know!\n— The NestCare Team",
        "options": {}
      },
      "id": "a9462071-06e8-42b1-ac10-a6c37f751ecc",
      "name": "Send WhatsApp",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        240,
        160
      ],
      "credentials": {
        "twilioApi": {
          "id": "XdDEWPfAwdNRMB3p",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.body.contact }}",
        "subject": "=We've received your report, {{ $json.body.firstName }} — {{ $json.body.refNumber }}",
        "message": "=<!DOCTYPE html><html><body style=\"font-family: Arial, sans-serif; background: #faf9f7; margin: 0; padding: 40px 20px;\"><div style=\"max-width: 520px; margin: 0 auto; background: white; border-radius: 16px; padding: 40px; border: 1px solid #e8e5df;\"><div style=\"margin-bottom: 32px;\"><div style=\"width: 40px; height: 40px; background: #c8602a; border-radius: 10px; display: inline-flex; align-items: center; justify-content: center; margin-bottom: 16px;\"><span style=\"color: white; font-size: 18px;\">🏠</span></div><h1 style=\"font-size: 24px; color: #1a1814; margin: 0 0 8px; font-weight: 600;\">Hi {{ $json.body.firstName }},</h1><p style=\"color: #4a4740; font-size: 15px; line-height: 1.6; margin: 0;\">We've received your maintenance request and your property manager has been notified.</p></div><div style=\"background: #f2f0ec; border-radius: 12px; padding: 20px; margin-bottom: 28px;\"><div style=\"margin-bottom: 12px;\"><span style=\"font-size: 11px; text-transform: uppercase; color: #8a8780; font-weight: 500;\">Issue reported</span><p style=\"margin: 4px 0 0; font-size: 16px; font-weight: 500; color: #1a1814;\">{{ $json.body.issue }}</p></div><div><span style=\"font-size: 11px; text-transform: uppercase; color: #8a8780; font-weight: 500;\">Reference</span><p style=\"margin: 4px 0 0; font-size: 14px; font-weight: 500; color: #1a1814; font-family: monospace;\">{{ $json.body.refNumber }}</p></div></div><p style=\"color: #8a8780; font-size: 13px; line-height: 1.6; margin: 0;\">Expected response within 24 hours.</p><hr style=\"border: none; border-top: 1px solid #e8e5df; margin: 24px 0;\"/><p style=\"color: #8a8780; font-size: 12px; margin: 0;\">— The NestCare Team</p></div></body></html>",
        "options": {}
      },
      "id": "c6bb9f8f-0805-415e-9305-7bfba78293ed",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        240,
        448
      ],
      "webhookId": "beaa2111-c17c-4d1e-9ab4-16b34ff394b6",
      "credentials": {
        "gmailOAuth2": {
          "id": "X09p0iYefKk2i2Z8",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "rayhanul.islam.rumel@gmail.com",
        "subject": "=🔧 New issue report — {{ $('Webhook').item.json.body.issue }} ({{ $('Webhook').item.json.body.refNumber }})",
        "message": "=<!DOCTYPE html><html><body style=\"font-family: Arial, sans-serif; background: #f5f5f5; padding: 32px 20px;\"><div style=\"max-width: 480px; margin: 0 auto; background: white; border-radius: 12px; padding: 32px; border: 1px solid #e0e0e0;\"><h2 style=\"margin: 0 0 20px; font-size: 20px; color: #1a1814;\">🏠 New Maintenance Request</h2><table style=\"width: 100%; font-size: 14px; color: #333; border-collapse: collapse;\"><tr><td style=\"padding: 10px 0; color: #888; width: 120px; border-bottom: 1px solid #f0f0f0;\">Tenant</td><td style=\"font-weight: 600; border-bottom: 1px solid #f0f0f0;\">{{ $('Webhook').item.json.body.name }}</td></tr><tr><td style=\"padding: 10px 0; color: #888; border-bottom: 1px solid #f0f0f0;\">Issue</td><td style=\"font-weight: 600; border-bottom: 1px solid #f0f0f0;\">{{ $('Webhook').item.json.body.issue }}</td></tr><tr><td style=\"padding: 10px 0; color: #888; border-bottom: 1px solid #f0f0f0;\">Contact</td><td style=\"border-bottom: 1px solid #f0f0f0;\">{{ $('Webhook').item.json.body.contact }} ({{ $('Webhook').item.json.body.contactType }})</td></tr><tr><td style=\"padding: 10px 0; color: #888; border-bottom: 1px solid #f0f0f0;\">Description</td><td style=\"border-bottom: 1px solid #f0f0f0;\">{{ $('Webhook').item.json.body.description || '—' }}</td></tr><tr><td style=\"padding: 10px 0; color: #888;\">Reference</td><td style=\"font-family: monospace;\">{{ $('Webhook').item.json.body.refNumber }}</td></tr></table></div></body></html>",
        "options": {}
      },
      "id": "9df60502-79cb-4dc8-be8c-89878c487b50",
      "name": "Notify Landlord",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        464,
        304
      ],
      "webhookId": "2fc1ed21-f00e-4253-b684-c8241a0e5513",
      "credentials": {
        "gmailOAuth2": {
          "id": "X09p0iYefKk2i2Z8",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nestcare-production.up.railway.app/report",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "ref_number",
              "value": "={{ $json.body.refNumber }}"
            },
            {
              "name": "tenant_name",
              "value": "={{ $json.body.name }}"
            },
            {
              "name": "first_name",
              "value": "={{ $json.body.firstName }}"
            },
            {
              "name": "issue_category",
              "value": "={{ $json.body.issue }}"
            },
            {
              "name": "description",
              "value": "={{ $json.body.description }}"
            },
            {
              "name": "contact",
              "value": "={{ $json.body.contact }}"
            },
            {
              "name": "contact_type",
              "value": "={{ $json.body.contactType }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -192,
        304
      ],
      "id": "1a79d1ae-1e6c-456a-9ccd-6a248fd95232",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp or Email?": {
      "main": [
        [
          {
            "node": "Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp": {
      "main": [
        [
          {
            "node": "Notify Landlord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Notify Landlord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "WhatsApp or Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "69b648de-f67f-4be5-a8f5-ce90ab667975",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f305eb6790d7aa01736abd8ff2c54f866f4854e996cf23f31d159ad761c7f455"
  },
  "id": "tImiaCMemsLJa9wp",
  "tags": []
}